.ios, .md {
	page-berita {
		p {
			text-align: justify;
		}
		ion-card-title {
			text-align: center;
		}
	}
	ion-card-content {
	p {
			text-align: justify;
		}
	}
	.card-background-page {
		background-color:#99C7FF;
	}
}